/* MOBILE MENU SHOW */
.contenedor {
  display: none;
  position: fixed;
  background-color: #3c3a39;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
}

.menu-contenedor {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.x-remove {
  position: absolute;
  background: transparent;
  color: #6f6c6b;
  cursor: pointer;
  border: none;
  top: 38px;
  right: 38px;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
}

.menu-js-links {
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.anchor-section {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  border-bottom: 1px solid #6f6c6b;
  padding-bottom: 5px;
  padding-left: 20px;
  width: 80%;
}

/* POP UP WINDOWN */

.popUp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  backdrop-filter: blur(20px);
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
}

.project-popup-card {
  display: flex;
  flex-direction: column;
  gap: 4vw;
  position: fixed;
  background-color: white;
  box-sizing: border-box;
  width: 91%;
  z-index: 1000;
  padding: 10px;
}

.header-popup-card{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  padding-top: 4vw;
}

.xBttn{
  background: transparent;
  color: #6f6c6b;
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 5vw;
  padding-right: 15px;
}

.subtitle-pop-card{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 7vw;
}

.tech-popup-card{
  align-self: flex-start;
  display: flex;
  gap: 12px;
  padding: 16% 0 6%;
}

.tech-list{
  border: 1px solid #8993a4;
  padding: 10px 12px;
}

.JSproject-img{
  width: 100%;
}

.paragrah-popup-mobile{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 13px 0;
}

.paragrah-popup-desk{
  display: none;
}

.text-popup-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.liveVersionBttn, .sourceBttn{
  color: #fff;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.03em;
  padding: 12px;
  border: none;
}

.JSimg-icon{
  padding-left: 10px;
}

