/*  theme  */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

.flex {
  display: flex;
}

li {
    list-style: none;
  }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  background-image: url("Group.png");
  background-repeat: no-repeat;
  background-position: right 0 top 370px;
}

.header {
  background: #3c3a39;
  justify-content: space-between;
  padding: 20px 5%;
  align-items: center;
  width: 100%;
}

.logo {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}

.headline {
  padding: 25% 0 0;
}

.space {
    padding: 9px;
}

.banner {
  align-content: center;
  flex-flow: wrap;
  padding: 12px 5% 5%;
  line-height: 12px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  color: #ff6b00;
}

.hi {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #fff5e1;
}

.bio {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}

a {
  list-style: none;
  cursor: pointer;
}

.social{
 display: flex;
 flex-direction: row;
 align-items: center;
 padding: 0px;
 width: 200px;
 height: 40px;
}

.list {
    display: flex;
    align-items: flex-start;
    padding: 12px 15%;
}

.media {
 
 padding-right: 20px;
}

